<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>homeslideshow</name>
	<displayName>Home Slideshow</displayName>
	<version>1.0</version>
	<description>Displays a slideshow on your home page.</description>
	<author>LeadingThemes</author>
	<tab>Blocks</tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
