<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>blocklogo</name>
	<displayName>Block Logo</displayName>
	<version>1.0</version>
	<description>Places the logo into top hook</description>
	<author>LeadingThemes</author>
	<tab>Blocks</tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
